{% include "header.html" %}

<h1>Welcome to Internet Census 2012 Service Fingerprint Viewer!</h1>

<p>This website allows you to explore Internet Census 2012 service
fingerprinting data. To learn more about Internet Census 2012, click
<a href="http://internetcensus2012.bitbucket.org/paper.html">here</a>.</p>

<h2>Here are some sample queries:</h2>

<ul>
  <li>
      <a href="/show_ip?ip=195.251.230.96%2F27">Show all fingerprints for
      IP range 195.251.230.96/27</a>
  </li>
  <li>
      <a href="/show_fp?fp=7107dcefa8da9ce65572a89fa65e2e51">List details
      about fingerprint identified by MD5 hash
      \x7107dcefa8da9ce65572a89fa65e2e51</a>
  </li>
  <li>
      <a href="/get_pcap?fp=25ef1363d583d778b24aed96d88b2970">Get a .pcap
      file for fingerprint fingerprint identified by MD5 hash
      25ef1363d583d778b24aed96d88b2970</a>
  </li>
  <li>
      <a href="/one_ip?ip=195.251.230.100">List details about IP address
      195.251.230.100</a>
  </li>
  <li>
      <a href="/product_list">List products</a>
  </li>
  <li>
      <a href="/view_product?product_id=10661">Show statistics for
      the product 'Allegro RomPager'</a>
  </li>
  <li>
      <a href="/devicetypes_by_eld?eld=microsoft.com">Show
      devicetypes for domain 'microsoft.com'</a>
  </li>
</ul>
{% include "footer.html" %}
