{% include "header.html" %}
{% load hexed %}
{% load hexdump %}
{% load isbinary %}

<form action='one_ip'>
  <label>Enter IP: </label>
  <input name='ip' value="{{ip}}"/>
</form>

<h1>{{title}}</h1>

{% if rows|length != 1 %}
  <h2>Got {{ rows|length }} rows</h2>
{% else %}
  <h2>Got 1 row</h2>
{% endif %}
{% for row in rows %}
<table>

    <tr>
      <th>portno</th>
      <td>{{ row.portno }}/{% if row.is_tcp %}TCP {% else %}UDP{% endif %}</td>
    </tr>
    <tr><th>time_taken</th> <td>{{ row.time_taken }}</td></tr>
    <tr><th>probe</th><td>{{ row.probe }}</td></tr>

    <tr>
      <th>product</th>
      <td>
      {% if row.product %}
        <a href="/show_fp?fp={{ row.fingerprint_md5 }}">{{ row.product }}</a>
      {% else %}
        (unknown)
      {% endif %}
      </td>
    </tr>

    <tr>
      <th>pcap</th>
      <td><a href="/get_pcap?fp={{ row.fingerprint_md5 }}">DOWNLOAD</a></td>
    </tr>

    <tr>
      <th>fingerprint</th>
      <td class="fingerprint">
      {% if row.fingerprint|isbinary %}
        <pre>{{ row.fingerprint|hexdump }}</pre>
      {% else %}
        {{ row.fingerprint|linebreaks }}
      {% endif %}
      </td>
    </tr>

  </tr>
</table>
{% endfor %}
{% include "footer.html" %}
