{% include "header.html" %}
{% load hexed %}
{% load hexdump %}
{% load isbinary %}

<form action='one_ip'>
  <label>Enter IP: </label>
  <input name='ip' value="{{ip}}"/>
</form>

<h1>{{title}}</h1>

{% if rows|length != 1 %}
  <h2>Got {{ rows|length }} rows</h2>
{% else %}
  <h2>Got 1 row</h2>
{% endif %}
{% for row in rows %}
<table>

    <tr>
      <th>Port no.</th>
      <td>{{ row.portno }}/{% if row.is_tcp %}TCP {% else %}UDP{% endif %}</td>
    </tr>

    <tr>
      <th rowspan="{{ row.times_taken|length }}">Time taken</th>
      {% for time_taken in row.times_taken %}
      {% if not forloop.first %}
      <tr>
      {% endif %}
      <td>{{ time_taken }}</td></tr>
      {% endfor %}

    <tr>
      <th rowspan="{{ row.payloads|length }}">Probe used</th>
      {% for payload in row.payloads %}
      {% if not forloop.first %}
      <tr>
      {% endif %}
      <td>{{ payload }}</td></tr>
      {% endfor %}

    <tr>
      <th rowspan="{{ row.products|length }}">Product name</th>
      {% for product in row.products %}
      {% if not forloop.first %}
      <tr>
      {% endif %}
      <td>
      {% if row.product %}
        <a href="/show_fp?fp={{ row.fingerprint_md5 }}">{{ product.product }}</a>
      {% else %}
        (unknown)
      {% endif %}
      </td></tr>
      {% endfor %}


    <tr>
      <th>PCAP file</th>
      <td><a href="/get_pcap?fp={{ row.fingerprint_md5 }}">DOWNLOAD</a></td>
    </tr>

    <tr>
      <th>Fingerprint data</th>
      <td class="fingerprint">
      {% if row.fingerprint|isbinary %}
        <pre>{{ row.fingerprint|hexdump }}</pre>
      {% else %}
        {{ row.fingerprint|linebreaks }}
      {% endif %}
      </td>
    </tr>

</table>
{% endfor %}
{% include "footer.html" %}
