{% include "header.html" %}
{% load dictionary_extras %}

<form action='show_fp'>
  <label>Enter fingerprint ID: </label>
  <input name='fp' value="{{fp}}" size="40"/>
</form>

{% if rows|length != 1 %}
  <h1>Got {{ rows|length }} rows</h1>
{% else %}
  <h1>Got 1 row</h1>
{% endif %}
<table>
<tr>
  <th>fingerprint_md5</th>
  <th>service</th>
  <th>product</th>
  <th>version</th>
  <th>info</th>
  <th>cpe</th>
  <th>os</th>
  <th>hostname</th>
  <th>devicetype</th>
</tr>
{% for row in rows %}
  <tr>
    <td>{{ row.fingerprint_md5|hexed }}</td>
    <td>{{ row.service }}</td>
    <td>{{ row.product }}</td>
    <td>{{ row.version }}</td>
    <td>{{ row.info }}</td>
    <td>{{ row.cpe }}</td>
    <td>{{ row.os }}</td>
    <td>{{ row.hostname }}</td>
    <td>{{ row.devicetype }}</td>
  <th>
{% endfor %}
</table>
{% include "footer.html" %}
