{% include "header.html" %}
{% load hexed %}
{% load hexdump %}
{% load isbinary %}

<form action='show_fp'>
  <label>Enter fingerprint ID: </label>
  <input name='fp' value="{{fp}}" size="40"/>
</form>


<h1>{{title}}</h1>

<h2 id="h2_toc">Table of contents</h2>
<ul>
<li><a href="#h2_matches">Matches</a></li>
<li><a href="#h2_contents">Fingerprint contents</a></li>
</ul>

<h2 id="h2_matches">
{% if rows|length != 1 %}
  Matches - got {{ rows|length }} rows
{% else %}
  Got 1 match
{% endif %}
(<a href="#h2_toc">up</a>)</h2>

<table>
<tr>
  <th>fingerprint_md5</th>
  <th>service</th>
  <th>product</th>
  <th>version</th>
  <th>info</th>
  <th>cpe</th>
  <th>os</th>
  <th>hostname</th>
  <th>devicetype</th>
</tr>
{% for row in rows %}
  <tr>
    <td>{{ row.fingerprint_md5|hexed }}</td>
    <td>{{ row.service }}</td>
    <td>{{ row.product }}</td>
    <td>{{ row.version }}</td>
    <td>{{ row.info }}</td>
    <td>{{ row.cpe }}</td>
    <td>{{ row.os }}</td>
    <td>{{ row.hostname }}</td>
    <td>{{ row.devicetype }}</td>
  <th>
{% endfor %}
</table>

<h2 id="h2_contents">Fingerprint contents (<a href="#h2_toc">up</a>)</h2>
<blockquote class="fingerprint">
{% if fingerprint|isbinary %}
  <pre>{{ fingerprint|hexdump }}</pre>
{% else %}
  {{ fingerprint|linebreaks }}
{% endif %}
</blockquote>
<p><a href="/get_pcap?fp={{ fingerprint_md5 }}">Download .pcap file</a></p>

<p>(<a href="#h2_toc">back to table of contents</a>)</p>
{% include "footer.html" %}
