{% include "header.html" %}
{% load hexed %}
{% load hexdump %}
{% load isbinary %}

<form action='show_ip'>
  <label>Enter IP (optionally, with a CIDR): </label>
  <input name='ip' value="{{ip}}"/>
</form>

<h1>{{title}}</h1>

{% if rows|length != 1 %}
  <h2>Got {{ rows|length }} rows</h2>
{% else %}
  <h2>Got 1 row</h2>
{% endif %}
<table>
<tr>
<th>rdns</th>
<th>ip</th>
<th>portno</th>
<!--
<th>time_taken</th>
<th>probe</th>
--!>
<th>product</th>
<th>pcap</th>
<th>fingerprint</th>
</tr>
{% for row in rows %}
  <tr>
    <td>{{ row.rdns }}</td>
    <td>{{ row.ip }}</td>
    <td>{{ row.portno }}</td>
<!--
    <td>{{ row.time_taken }}</td>
    <td>{{ row.probe }}</td>
--!>
    <td>
    {% if row.product %}
      <a href="/show_fp?fp={{ row.fingerprint_md5 }}">{{ row.product }}</a>
    {% else %}
      (unknown)
    {% endif %}
    </td>
    <td>
      <a href="/get_pcap?fp={{ row.fingerprint_md5 }}">DOWNLOAD</a>
    </td>
    <td class="fingerprint">
    {% if row.fingerprint|isbinary %}
      <pre>{{ row.fingerprint|hexdump }}</pre>
    {% else %}
      {{ row.fingerprint|linebreaks }}
    {% endif %}
    </td>
    </tr>
  </tr>
{% endfor %}
</table>
{% include "footer.html" %}
