<html>
<head>
<title>Service Probe overview - index</title>
<script type="text/javascript" src="http://localhost/jquery-latest.js"></script>
<script type="text/javascript" src="http://localhost/jquery.tablesorter.js"></script>
</head>
<body>
<style>
{% include "style.css" %}
</style>

<script>
  $(document).ready(function()
    {
        $("#table").tablesorter({debug: true});
    }
);
</script>

<table id="table" class="tablesorter">
<thead>
<tr>
<th>Product name</th>
<th>Count</th>
<th>Distinct ports</th>
</tr>
</thead>
<tbody>
{% for item in data %}
<tr>
<td>{{ item.product_name}}</td>
<td>{{ item.count}}</td>
<td>{{ item.port_count}}</td>
</tr>
{% endfor %}
</tbody>
</table>

</body>
</html>
